<div ng-controller="PresentationListModalController">
  <search-filter filter-config="filterConfig" search="search" do-search="doSearch"></search-filter>
  <div class="panel u_margin-sm-top">
    <div class="scrollable-list" 
      scrolling-list="load()"
      rv-spinner rv-spinner-key="presentation-list-loader"
      rv-spinner-start-active="1"
      >
      <table id="presentationListTable" class="table table--hover">
        <thead class="table-header">
          <tr class="table-header__row">
            <th id="tableHeaderName" ng-click="sortBy('name')" class="table-header__cell u_clickable">
              {{'schedules-app.presentation-modal.presentation-list.heading.name' | translate}}
              <!-- ngIf: search.sortBy == 'name' -->
              <i ng-if="search.sortBy == 'name'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
              <!-- end ngIf: search.sortBy == 'name' -->
            </th>
            <th id="tableHeaderStatus" class="table-header__cell text-right">
              {{'schedules-app.presentation-modal.presentation-list.heading.status' | translate}}
            </th>
          </tr>
        </thead>

        <tbody class="table-body">
          <tr class="table-body__row u_clickable" data-ng-click="toggleObject.item = $index; select(presentation.id, presentation.name);" data-ng-class="{'active' : toggleObject.item == $index}" ng-repeat="presentation in presentations.list">
            <td id="presentationName" class="table-body__cell">{{presentation.name}}</td>
            <td class="table-body__cell text-right"><span ng-class="{'text-danger': presentation.revisionStatus==1}">{{presentation.revisionStatusName | presentationStatus}}</span></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
