<div ng-controller="distributionListController">
  <div class="form-group">
    <label class="control-label"><input id="allDisplaysCheckbox" type="checkbox" ng-model="parameters.distributeToAll" class="add-right" ng-change="cleanSelection()" /> All Displays</label>
  </div>
  <search-filter filter-config="filterConfig" search="search" do-search="doSearch"></search-filter>

  <div class="content-box scrollable-list half-top"
       scrolling-list="load()"
       rv-spinner rv-spinner-key="display-list-loader"
       rv-spinner-start-active="1"
    >
      <table id="displayListTable" class="table-2 table-hover" ng-class="{ 'animated fadeIn table-selector multiple-selector': !parameters.distributeToAll}">
        <thead>
          <tr>
            <th id="tableHeaderName" ng-click="sortBy('name')" class="clickable">
              Name
              <!-- ngIf: search.sortBy == 'name' -->
              <i ng-if="search.sortBy == 'name'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
              <!-- end ngIf: search.sortBy == 'name' -->
            </th>
            <th id="tableHeaderAddress" class="text-right">
              Address
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="clickable-row display" ng-click="toggleDisplay(display.id);" ng-class="{'active' : isSelected(display.id) }" ng-repeat="display in displays.list">
            <td id="displayName-{{display.id}}" class="display-name">{{display.name}}</td>
            <td id="displayAddress-{{display.id}}" class="display-address"><span class="text-muted">{{display.address}}</span></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
